
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    margin: 0 100px;
}

.content {
    background-color: white;
    padding: 10px;
    margin: 0;
}

.center {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.center_text_condense {
    text-align: center;
    margin: 30px 300px;
    margin-top: 10px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: large;
    font-weight: bold;
}

.why_container {
    display: flex;
    flex-direction: row;
}

.why_container p {
    flex: 1;
    max-width: 900px;
}

.why_container img {
    max-width: 100%;
    margin-left: auto;
    margin-right: 50px;
    padding-left: 30px;
}

#home_sect {
    /* background */
    background-image: url("cc.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    padding: 200px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;

    position: relative;

    /* text */
    color: rgb(255, 255, 255);
    font-size: 40px;
        
}

#home_text {
    position: absolute;
    bottom: 20px;
    left: 10px;

    word-wrap: break-word;
    max-width: 50%;
}

.bullet_points li {
    padding: 5px;
    font-weight: bold;
}